:root {
    --color-bluelight: #00b3ff;
    --color-soft-bluelight: #00b3ff5c;
    --color-violeta: rgba(143, 92, 224, 1);
    --color-soft-white: #a4acbb;
    --background-gradiente: linear-gradient(90deg, rgba(15,23,36,1) 0%, rgba(0,29,52,1) 53%, rgba(0,27,52,1) 100%);;
    --gradiente: -webkit-linear-gradient(0deg, rgba(143, 92, 224, 1) 0%, rgba(75, 153, 215, 1) 53%, rgba(0, 212, 255, 1) 100%);

    --font-primary: "Montserrat", sans-serif;
}

body {
    background: var(--background-gradiente);
    font-family: var(--font-primary);
}

/* Barra Navegacion */
.navbar{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

ul li a, .navbar-brand{
    color: rgba(255, 255, 255, 0.768) !important;
    transition: all 0.4s;
}

ul li a:hover {
    color: white !important;
}

.boton-nav, .navbar-toggler-icon {
    color: rgba(255, 255, 255, 0.768) !important;
}

/* Presentacion */
.img-presentacion {
    border: 5px solid white;
    box-shadow: 0 0 200px var(--color-bluelight);
}

.titulo-gradiente {
    background: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-presentacion {
    color: var(--color-soft-white);
    font-weight: 500;
}

.boton-cv, .boton-card-demo {
    background-image: var(--gradiente);
    box-shadow: 0px 2px 20px var(--color-soft-bluelight);
    transition: all 0.4s;
}

.boton-cv:hover, .boton-card-demo:hover{
    box-shadow: 0px 2px 20px var(--color-bluelight);
}

/* Proyectos */
h2 {
    border-left: 5px solid var(--color-bluelight);
}

.card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    background-color: transparent;
    border: solid 1px;
    border-radius: 20px;
    border-color: var(--color-soft-white);

    /* border-image: linear-gradient(90deg, rgba(143, 92, 224, 1) 0%, rgba(75, 153, 215, 1) 53%, rgba(0, 212, 255, 1) 100%) 1; */
    /* background-origin: border-box; */
    /* background-clip: content-box, border-box; */

    box-shadow: 0 0 500px var(--color-soft-bluelight);
}

.card-text{
    color: var(--color-soft-white);
    font-weight: 500;
}

.iconos-tech{
    width: 30px;
}

.boton-card-repo{
    transition: all 0.4s;
}

.boton-card-repo:hover{
    color: black !important;
    background-color: white;
}